<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2ee29618-29be-48d8-8c8b-64e60bc909ff" Version="1.0.0.0" Publisher="CN=user1" />
  <Properties>
    <DisplayName>AgriExpenseDesktop</DisplayName>
    <PublisherDisplayName>user1</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="AgriExpenseDesktop" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="AgriExpenseDesktop" ForegroundText="light" BackgroundColor="#FFFFFF">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\logo_agrinet.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>