<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="30555ShivaniBhagaloo.AgriExpenseDesktopTest1" Version="1.0.0.2" Publisher="CN=FA5F2A7B-ED3B-4A20-89E8-E44C77A4D955" />
  <Properties>
    <DisplayName>AgriExpenseDesktopTest1</DisplayName>
    <PublisherDisplayName>ShivaniBhagaloo</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="AgriExpenseDesktopTest1" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="AgriExpenseDesktop" ForegroundText="light" BackgroundColor="#FFFFFF">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\logo_agrinet.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>