body {
    background-color:white;
    color:black;
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-rows: 100px 200px 1fr;
    -ms-grid-columns: 1fr;   
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        -ms-grid-columns: 120px 1fr; /*120px is padding*/
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] h2 {
            -ms-grid-column: 2; /*Breadcrumb is in here*/
            margin-top: 37px;
            color:lightgray;
        }

  /*  .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
        margin-left: 120px;
        margin-right: 120px;

        -ms-grid-columns: 350px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }*/


      .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
        margin-left: 120px;
        margin-right: 120px;

        -ms-grid-columns: 300px, 50px, 1fr; /*1 column that need to be further divided*/
        -ms-grid-rows: 100px 300px 50px 1fr; /*4 rows 100 px reserved for title*/
        display: -ms-grid;
    }

        .fragment section[role=main] h1 {
        -ms-grid-row: 1;
        -ms-grid-column:1;
        height: 100%;
        width: 100%;
        margin-left: 120px;
        margin-right: 120px;
    }

   /*further divide column*/

  #cycleInfo {
  background: white;
  border: green solid 1px;
  -ms-grid-row: 2; /*the 300px row*/

  
}

  
   #listInfo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;

}







.toDo .pList {
    -ms-grid-column: 2;
    height: 100%;
    width: 100%;
}

    .toDo .pList .item {
        height: 200px;
        width: 300px;
        padding: 15px;
        background-color: rgba(255,255,255,0.6);
    }

        .toDo .pList .item .item-title {
            font-weight: 600;
            font-size: 15pt;
        }

        .toDo .pList .item .item-sub {
            overflow: hidden;
            margin-left: 15px;
        }


.toDo form label, #updateFlyout form label {
    display: block;
    margin-bottom: 5px;
}

.input-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
}

