body {
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #0B8F14 100%);
    color:black;
}

.fragment {
    -ms-grid-columns: 6fr 1fr;
    -ms-grid-rows: 128px 250px 1fr; /*1fr is for Materials used in this cycle*/
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
       -ms-grid-columns:120px 1fr; /*120px is padding left*/
       -ms-grid-rows:1fr;
       display:-ms-grid;

    }

        .fragment header[role=banner] h2 {
           -ms-grid-row:1;/*128px*/
            -ms-grid-column: 2;
            margin-top: 37px;
            color: #312C2C;
        }

    .fragment section[role=main] {
        -ms-grid-row:2; /*250px*/
        height:100%;
        width:100%;
        
        margin-left: 120px;
        margin-right: 120px;

        -ms-grid-columns: 250px 30px 1fr;
        -ms-grid-rows: 40px 1fr; /*1fr=250px*/
        display: -ms-grid;
    }


    .fragment section[role=main] #cycleInfoTitle{
        -ms-grid-column:1;
        -ms-grid-row:1;
    }

    .fragment section[role=main] #addMaterialTitle{
        -ms-grid-column:3;
        -ms-grid-row:1;
    }

    .fragment section[role=main] #cycleInfo {
        -ms-grid-column:1; /*250px*/
        -ms-grid-row:2; /*1fr*/
        
        /*background-color:#689F38;*/
    }

    .fragment section[role=contentinfo] {
        -ms-grid-row:3; /*1fr from the top of this file*/
        height:100%;
        width:100%;

        margin-left: 120px;
        margin-right: 120px;

        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /*5 types of items and a blank one at the end*/
        -ms-grid-rows: 100px 10px 1fr;
        display:-ms-grid;
    }

    .fragment section[role=contentinfo] #listInfoTitle {
        -ms-grid-column:1;
        -ms-grid-row:1;
    }

    .fragment section[role=contentinfo] #chemicalTitle {
        -ms-grid-column:1;
        -ms-grid-row:2;
    }

    .fragment section[role=contentinfo] #fertilizerTitle {
        -ms-grid-column:2;
        -ms-grid-row:2;
    }

    .fragment section[role=contentinfo] #plantingMaterialTitle {
        -ms-grid-column:3;
        -ms-grid-row:2;
    }

    .fragment section[role=contentinfo] #soilAmendmentTitle {
        -ms-grid-column:4;
        -ms-grid-row:2;
    }

    .fragment section[role=contentinfo] #otherTitle {
        -ms-grid-column:5;
        -ms-grid-row:2;
    }

     .fragment section[role=contentinfo] #labourTitle {
        -ms-grid-column:6;
        -ms-grid-row:2;
    }

    .fragment section[role=contentinfo] #chemicalList {
        -ms-grid-column:1;
        -ms-grid-row:3;
    }

    .fragment section[role=contentinfo] #fertilizerList {
        -ms-grid-column:2;
        -ms-grid-row:3;
    }

    .fragment section[role=contentinfo] #plantingMaterialList {
        -ms-grid-column:3;
        -ms-grid-row:3;
    }

    .fragment section[role=contentinfo] #soilAmendmentList {
        -ms-grid-column:4;
        -ms-grid-row:3;
    }

    .fragment section[role=contentinfo] #otherList {
        -ms-grid-column:5;
        -ms-grid-row:3;
    }

    .fragment section[role=contentinfo] #labourList {
        -ms-grid-column:6;
        -ms-grid-row:3;
    }



    .toDo .iList {
    -ms-grid-column: 3;
    -ms-grid-row:2;
    height: 100%;
    width: 100%;
}

    .toDo .iList .item {
        height: 150px;
        width: 200px;
        padding: 10px;
        background-color: #FFFFFF;
        border-style:solid;
        border-color:#689F38;
        color:#689F38;
    }

        .toDo .iList .item .item-title {
            font-weight: 600;
            font-size: 15pt;
        }

        .toDo .iList .item .item-sub {
            overflow: hidden;
            margin-left: 1px;
            font-size:12pt;
        }


.toDo .pList {
    
       
    -ms-grid-column: 3;
    -ms-grid-row:2;
    height: 100%;
    width: 100%;
}

    .toDo .pList .item {
        height: 120px;
        width: 250px;
        padding: 10px;
        background-color: #FFFFFF;
        border-style:solid;
        border-color:#689F38;
        color:#689F38;
    }

        .toDo .pList .item .item-title {
            font-weight: 600;
            font-size: 15pt;
        }

        .toDo .pList .item .item-sub {
            overflow: hidden;
            margin-left: 15px;
        }


.toDo form label, #updateFlyout form label {
    display: block;
    margin-bottom: 5px;
}

.input-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
}

