body { 
   background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #0B8F14 100%);
   color:black;
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 50px 600px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        -ms-grid-columns: 120px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] h2 {
            -ms-grid-column: 2;
            margin-top: 37px;
            color: #312C2C;
        }

        .fragment #addNewCycleTitle {
        -ms-grid-row:2;
        padding-left:120px;
        color:black;
    }

    .fragment #recentCyclesTitle {
        -ms-grid-row:2;
        padding-left: 530px;
        color:black;
    }

    .fragment section[role=main] {
        -ms-grid-row: 3;
        height: 100%;
        width: 100%;
        margin-left: 120px;
        margin-right: 120px;

        -ms-grid-columns: 300px 10px 200px 1fr;
        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        
        display: -ms-grid;
    }



.toDo aside {
   -ms-grid-column: 1;
   -ms-grid-row-span:11; /*aside will span all three rows*/
    padding-right: 30px;
    padding-left:10px;
    color:black;
}

.toDo aside hr {
    margin-bottom: 20px;
    margin-top: 20px;
}




.toDo .chemicalListColumn {
   -ms-grid-column:4;    /*4th column*/
   -ms-grid-row:1;
   border-bottom-style:solid;
   border-bottom-color:gray;
}

.toDo .chemicalButtons {
   -ms-grid-column:3;    /*3rd column*/
   -ms-grid-row:1;
   border-bottom-style:solid;
   border-bottom-color:gray;
}

.toDo .fertilizerListColumn {
   -ms-grid-column:4;    /*4th column*/
   -ms-grid-row:2; 
   border-bottom-style:solid;
   border-bottom-color:gray;
}

.toDo .fertilizerButtons {
   -ms-grid-column:3;    /*3rd column*/
   -ms-grid-row:2;
   border-bottom-style:solid;
   border-bottom-color:gray;
}

.toDo .plantingMaterialListColumn {
   -ms-grid-column:4;    /*4th column*/
   -ms-grid-row:3; 
   border-bottom-style:solid;
   border-bottom-color:gray;
}

.toDo .plantingMaterialButtons {
   -ms-grid-column:3;    /*3rd column*/
   -ms-grid-row:3;
   border-bottom-style:solid;
   border-bottom-color:gray;
}

.toDo .soilAmendmentListColumn {
   -ms-grid-column:4;    /*4th column*/
   -ms-grid-row:4; 
   border-bottom-style:solid;
   border-bottom-color:gray;
}

.toDo .soilAmendmentButtons {
   -ms-grid-column:3;    /*3rd column*/
   -ms-grid-row:4;
   border-bottom-style:solid;
   border-bottom-color:gray;
}
.toDo .otherListColumn {
   -ms-grid-column:4;    /*4th column*/
   -ms-grid-row:5;
   border-bottom-style:solid;
   border-bottom-color:gray;
}

.toDo .otherButtons {
   -ms-grid-column:3;    /*3rd column*/
   -ms-grid-row:5;
   border-bottom-style:solid;
   border-bottom-color:gray;
}

.toDo .labourListColumn {
   -ms-grid-column:4;    /*4th column*/
   -ms-grid-row:6;
}

.toDo .labourButtons {
   -ms-grid-column:3;    /*3rd column*/
   -ms-grid-row:6;
}


.toDo .iList {
    -ms-grid-column: 3;
    height: 100%;
    width: 100%;
}

    .toDo .iList .item {
         height: 70px;
        width: 230px;
        padding: 5px; /*padding on all sides of each individual box*/
        background-color: #FFFFFF;
        background-image: url("/images/coin18.png");
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position:center;
        color:#689F38;
        font-size:9pt;

        border-style: solid;
        border-color: #07570C;
    }

        .toDo .iList .item .item-title {
            font-weight: 600;
            font-size: 9pt;
        }

        .toDo .iList .item .item-sub {
            overflow: hidden;
            margin-left: 1px;
            font-size: 9pt;
        }



.toDo form label, #updateFlyout form label {
    display: block;
    margin-bottom: 5px;
}

.input-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
}


.addMoreButton{
    height:60px;
    width:60px;
    cursor: pointer;
}

.deleteItemsButton{
    height:60px;
    width:60px;
    padding-left:30px;
    cursor: pointer;
}

.editCycleClass{
    height:40px;
    width:40px;
    cursor: pointer;
}

.deleteCycleClass{
    height:40px;
    width:40px;
    padding-left:20px;
    cursor: pointer;
}


.calculateSalesButton {
    width:250px;
    border-color:black;
    color:black;
}

