body {
}
body {
}
body { 
   background-color: #FFFFFF;
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 50px 500px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        -ms-grid-columns: 120px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] h2 {
            -ms-grid-column: 2;
            margin-top: 37px;
            color: lightgray;
        }

        .fragment #addNewEmployeeTitle {
        -ms-grid-row:2;
        padding-left:120px;
        color:black;
    }

    .fragment #pastEmployeesTitle {
        -ms-grid-row:2;
        padding-left: 530px;
        color:black;
    }

    .fragment section[role=main] {
        -ms-grid-row: 3;
        height: 100%;
        width: 100%;
        margin-left: 120px;
        margin-right: 120px;

        -ms-grid-columns: 350px 50px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }



.toDo aside {
   -ms-grid-column: 1;
    padding-right: 30px;
    padding-left:10px;
    border-style: solid;
    border-color: black;
    background-color:#8BC34A;
}

.toDo aside hr {
    margin-bottom: 20px;
    margin-top: 20px;
}

.toDo .displayListColumn {
   -ms-grid-column:3;    /*3rd column*/
    background-color:#8BC34A;
    padding-right: 30px;
    padding-left:30px;
    border-style: solid;
    border-color: black;
    /*overflow-x: scroll;*/
}



.toDo .purchaseList {
    -ms-grid-column: 3;
    height: 100%;
    width: 100%;
}

    .toDo .purchaseList .item {
        height: 60px;
        width: 170px;
        padding: 10px;
        background-color: #FFFFFF;
        color:#689F38;
        border-style: solid;
        border-color: #689F38;
    }

        .toDo .purchaseList .item .item-title {
            font-weight: 600;
            font-size: 15pt;
        }

        .toDo .purchaseList .item .item-sub {
            overflow: hidden;
            margin-left: 15px;
        }



.toDo form label, #updateFlyout form label {
    display: block;
    margin-bottom: 5px;
}

.input-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
}


.width-150px{
    width: 150px;
    display: inline-block;
}

