body { 
   background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #0B8F14 100%);
   color:black;
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 500px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        -ms-grid-columns: 120px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] h2 {
            -ms-grid-column: 2;
            margin-top: 37px;
            color: #312C2C;
        }

            .fragment header[role=banner] h1 {
            -ms-grid-column: 2;
            margin-top: 37px;
            color: black;
        }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
        margin-left: 120px;
        margin-right: 120px;

        -ms-grid-columns: 350px 50px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }


.toDo aside {
   -ms-grid-column: 1;
    padding-right: 30px;
    padding-left:10px;
}

.toDo aside hr {
    margin-bottom: 20px;
    margin-top: 20px;
}




.toDo form label, #updateFlyout form label {
    display: block;
    margin-bottom: 5px;
}

.input-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
}


.width-150px{
    width: 150px;
    display: inline-block;
    border: 2px solid black;
    color:black;
}

